/*Responsive values*/
$break-mobile: 320px;
$break-small: 768px;
$break-tablet: 1024px;

body{
	min-height: 100vh;
}

@font-face {
  font-family: AdamCG;
  src: url(../fonts/ADAM_CG_PRO.otf);
}
@font-face {
  font-family: BrandonLight;
  src: url(../fonts/Brandon_light.otf);
}
@font-face {
  font-family: DolceVitaBold;
  src: url(../fonts/Dolce_Vita_Heavy_Bold.ttf);
}
@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf);
}
/*----Seccion 1: portada-----*/
.seccion_1{
	color: #fff;
	position: relative;
	line-height: normal;
	.grad{
		background: rgba(54,54,54,0.5); /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(rgba(54,54,54,0.7), rgba(54,54,54,0.3)); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(rgba(54,54,54,0.7), rgba(54,54,54,0.3)); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(rgba(54,54,54,0.7), rgba(54,54,54,0.3)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(rgba(54,54,54,0.7), rgba(54,54,54,0.3)); /* Standard syntax */
	}
	.parallax-container{
		height: 100vh;
	}
	.titulos{
		position: absolute;
		bottom: 90px;
		left: 40px;
	}
	.ver_mas{
		position: absolute;
		bottom: 35px;
		left: 50%;
	}
	.ver_mas > h1{
		font-family: "AdamCG";
		font-size: 15px;
	}
	.ver_mas > img{
		position: absolute;
		left: 20%;
	}
	h1{
		font-family: "DolceVitaBold";
		font-size: 100px;
		line-height: 92px;
		margin-bottom: -28px;
	}
	h2{
		font-family: "GeosansLight";
		font-size: 75px;
	}
	h3{
		font-family: "GeosansLight";
		font-size: 52px;
		margin-top: -28px;
	}
	@media screen and (max-width: $break-small){
		.titulos{
			left: 25px;
		}
		h1{
			font-size: 50px;
			line-height: 40px;
			margin-bottom: -15px;
		}
		h2{
			font-size: 25px;
		}
		h3{
			font-size: 20px;
			margin-top: -20px;
		}
		.ver_mas{
			left: 40%;
		}
		.ver_mas > h1{
			font-size: 15px;
		}
		.ver_mas > img{
			left: 20%;
		}
	}
	@media screen and (max-width: $break-small) and (orientation: landscape){
		.titulos{
			left: 25px;
		}
		h1{
			font-size: 50px;
			line-height: 40px;
			margin-bottom: -15px;
		}
		h2{
			font-size: 25px;
		}
		h3{
			font-size: 20px;
			margin-top: -20px;
		}
		.ver_mas{
			left: 45%;
		}
		.ver_mas > h1{
			font-size: 15px;
		}
		.ver_mas > img{
			left: 20%;
		}
	}
	@media screen and (max-width: $break-small) and (min-height: 1024px ) and (orientation: portrait){
		.ver_mas{
			left: 50%;
		}
	}
}
/*----Seccion 2: perfil-----*/
.seccion_2{
	color: #000;
	height: 100vh;
	.row{
		margin-bottom: 0;
	}
	.perfil{
		margin-top: 155px;
		img{
			width: 320px;
		}
	}
	.mensaje{
		span{
			font-family: "AdamCG";
			font-size: 30px;
		}
	}
	h1{
		font-family: "DolceVitaBold";
		font-size: 90px;
		text-decoration: underline;
		-moz-text-decoration-color: #00FFD3; /* Code for Firefox */
    	text-decoration-color: #00FFD3;
	}
	p{
		font-family: "BrandonLight";
		font-size: 25px;
		text-align: justify;
	}
	@media screen and (max-width: $break-small){ /*Mobile Portrait*/
		height:auto;
		.perfil{
			margin-top: 20px;
		}
		h1{
			font-size: 40px;
		}
		p{
			font-size: 18px;
			text-align: center;
		}
		.mensaje{
			span{
				font-size: 15px;
			}
		}
	}
	@media screen and (max-width: $break-small) and (orientation: landscape){ /*Mobile & Tablet Landscape*/
		height:auto;
		.perfil{
			margin-top: 20px;
		}
		h1{
			font-size: 40px;
		}
		p{
			font-size: 18px;
		}
		.mensaje{
			span{
				font-size: 15px;
			}
		}
	}
	@media screen and (max-width: $break-small) and (min-height: 1024px) and (orientation: portrait){ /*Tablet Portrait*/
		.perfil{
			margin-top: 50px;
		}
		.mensaje{
			span{
				font-size: 30px;
			}
		}
		.tarjeta{
			margin-top: 50px;
		}
		h1{
			font-size: 50px;
		}
		p{
			font-size: 20px;
			text-align: justify;
		}
	}
}
/*----Seccion 3: habilidades-----*/
.seccion_3{
	height: 100vh;
	.habilidades{
		margin-top: 150px;
	}
	h1{
		font-family: "DolceVitaBold";
		font-size: 90px;
		text-decoration: underline;
		-moz-text-decoration-color: #00FFD3; /* Code for Firefox */
    	text-decoration-color: #00FFD3;
	}
	.tabs .tab a:hover{
		color: #000;
	}
	.tabs .tab a.active{
		color: #000;
	}
	.tabs .indicator{
		background-color: #00FFD3;
	}
	.lista-habilidades{
		margin-top: 50px;
	}
	@media screen and (max-width: $break-small){ /*Mobile Portrait*/
		height:auto;
		h1{
			font-size: 35px;
		}
		.habilidades{
			margin-top: 0;
		}
		.lista-habilidades{
			margin-top: 10px;
		}
	}
	@media screen and (max-width: $break-small) and (orientation: landscape){ /*Mobile & Tablet Landscape*/
		height:auto;
		.habilidades{
			margin-top: 35px;
		}
		.lista-habilidades{
			margin-top: 20px;
		}
	}
	@media screen and (max-width: $break-small) and (min-height: 1024px) and (orientation: portrait){ /*Tablet Portrait*/
		.habilidades{
			margin-top: 135px;
		}
	}
}
/*----Seccion 4: portafolio-----*/
.seccion_4{
	height: 100vh;
	.filter-mask { 
		position:absolute; 
		top:0; 
		left:0; 
		bottom:0; 
		right:0; 
		-webkit-animation:filterMask 1s ease-in-out both; 
		animation:filterMask 1s ease-in-out both 
	}
	@-webkit-keyframes filterMask { 
		0% { background:transparent } 
		50% { background:#fff } 
		100% { background:transparent } 
	}
	@keyframes filterMask { 
		0% { background:transparent } 
		50% { background:#fff } 
		100% { background:transparent } 
	}
	.portafolio{
		margin-top: 150px;
	}
	h1{
		font-family: "DolceVitaBold";
		font-size: 90px;
		text-decoration: underline;
		-moz-text-decoration-color: #00FFD3; /* Code for Firefox */
    	text-decoration-color: #00FFD3;
	}
	.tabs .tab a:hover{
		color: #000;
	}
	.tabs .tab a.active{
		color: #000;
	}
	.tabs .indicator{
		background-color: #00FFD3;
	}
	.lista-habilidades{
		margin-top: 50px;
	}
	@media screen and (max-width: $break-small){ /*Mobile Portrait*/
		h1{
			font-size: 35px;
		}
		.habilidades{
			margin-top: 0;
		}
		.lista-habilidades{
			margin-top: 10px;
		}
	}
	@media screen and (max-width: $break-small) and (orientation: landscape){ /*Mobile & Tablet Landscape*/
		.habilidades{
			margin-top: 35px;
		}
		.lista-habilidades{
			margin-top: 20px;
		}
	}
	@media screen and (max-width: $break-small) and (min-height: 1024px) and (orientation: portrait){ /*Tablet Portrait*/
		.habilidades{
			margin-top: 135px;
		}
	}
}
/*----Seccion 5: portafolio-----*/
.seccion_5{
	height: auto;
	text-align: center;
	h1{
		font-family: "DolceVitaBold";
		font-size: 90px;
		text-decoration: underline;
		-moz-text-decoration-color: #00FFD3; /* Code for Firefox */
    	text-decoration-color: #00FFD3;
	}
	h2{
		font-family: "AdamCG";
		font-size: 20px;
	}
	p{
		font-family: "BrandonLight";
		font-size: 50px;
	}
	@media screen and (max-width: $break-small){ /*Mobile Portrait*/
		h1{
			font-size: 35px; 
		}
		p{
			font-size: 20px;
		}
	}
	@media screen and (max-width: $break-small) and (orientation: landscape){ /*Mobile & Tablet Landscape*/
		h1{
			font-size: 35px; 
		}
		p{
			font-size: 20px;
		}

	}
	@media screen and (max-width: $break-small) and (min-height: 1024px) and (orientation: portrait){ /*Tablet Portrait*/

	}
}